 <!--================Home Banner Area =================-->
        <section class="home_banner_area ">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax responsive" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Enter your class room id to start</h2>
						<form id="join-form" name="join-form" class="mt-4" action="">
							<input id="channel" type="text" placeholder="Enter Channel Name" required class="form-control">
							{{!-- <button type="submit">start</button> --}}
							<button id="audience-join" type="submit" class="btn btn-live btn-sm">Join as Audience</button>
							<!-- Streams -->
							<div class="row video-group">
							<div class="col">
								<p id="local-player-name" class="player-name"></p>
								<div id="local-player" class="player"></div>
							</div>
							<div class="w-100"></div>
							<div class="col">
								<div id="remote-playerlist"></div>
							</div>
							</div>
							<button id="leave" type="button" class="btn btn-live btn-sm" disabled>Leave</button>
							<button id="mic-btn" type="button" class="btn btn-live btn-sm" disabled>
							Mute Audio
							</button>
							<button id="video-btn" type="button" class="btn btn-live btn-sm" disabled>
							Mute Video
							</button>
						</form>
					</div>
				</div> 
            </div>
			 
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Home Gallery Area =================-->
        
        <!--================End Testimonials Area =================-->
        
      